{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/core.match {:mvn/version "0.3.0-alpha5"}
  digest {:mvn/version "1.4.8"}
  com.taoensso/timbre {:mvn/version "4.10.0"}
  latte-kernel {:git/url "https://github.com/zampino/latte-kernel"
                :sha "91903e2d15f3419118c14b01f0123709391b36a9"}}}
